<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<header>
    <div class="logout-container">

    </div>
</header>
<body>
<div class="container">
    <h1>Register</h1>
    {{if .}}
    <div class="error">{{.}}</div>
    {{end}}
    <form action="/register" method="post">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="password" name="confirmPassword" placeholder="Confirm Password" required>
        <button type="submit">Register</button>
    </form>
    <p>Already have an account? <a class="register" href="/login">Login here</a></p>
</div>
</body>
</html>
